<app-header2></app-header2>


<form (submit)="registerUser($event)" id="msform">

    <fieldset>
        <h2 class="fs-title">New here? <br>Register as new user</h2>
        <input id="name" type="text" placeholder="Name">

      <input id="email" type="text" placeholder="Email">
      <input id="college" type="text" placeholder="College">
      <input id="address" type="text" placeholder="Address">
      <input id="number" type="text" placeholder="Phone number">
      <input id ="pass" type="password" placeholder="Password">
      <input type="submit" value="Register" class="next action-button">
    </fieldset>
  
  </form>

<app-footer2></app-footer2>