
    
<footer class="footer-distributed">

  <div class="footer-left">

    <h3 	style="font: normal 36px cursive">BookBecho<span>.com</span></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Blog</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name"></p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>P-26,Street 2</span>Shankar nagar Ext, Delhi-51</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 8860451364</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:ujjwal451@gmail.com">support@bookbecho.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      An old book buying/selling website which aims at connecting the students across the country with other on one platform to sell their spare books and earn online
    </p>

  </div>

  

</footer>





