<div class="header">
  <a href="#default" id ="main" class="logo"><h2><b>BookBecho.com</b></h2></a>
  <div class="header-right">


    <!-- <input type="text" placeholder="Search by name..."> -->


    <!-- <button class="btn">

      <a href="#default" class="logo"> Home </a>

    </button> -->

    <button (click)="clickedHome()" class="btn">
        <i class="fas fa-home"></i> Home </button>

    <button (click)="clickedSignIn()" class="btn">
      <i class="fas fa-sign-in-alt"></i> Sign In </button>

    <button (click)="clickedSignUp()" class="btn">
      <i class="fas fa-user-plus"></i> Sign Up </button>

    <button (click)="clickedAdmin()" class="btn">
      <i class="fas fa-plus-circle"></i> Add books </button>

    <button (click)="clickedlogout()" class="btn">
      <i class="fas fa-sign-in-alt"></i> Log Out </button>

    <button (click)="clickedMessageBox()" class="btn">
      <i class="fas fa-envelope"></i> MessageBox </button>

    <button (click)="clickedCart()" class="btn">
      <i class="fas fa-shopping-cart"></i> Cart </button>




  </div>
</div>