 <app-header2></app-header2>


 <p>
  login works!
</p>


<div class="page">
  <!-- <header><h2>Header</h2></header> -->
  
  <section class="featured">
       <h2>Featured Merchandising</h2>
  </section>
  <aside>
       <h2>Side Bar</h2>
  </aside>
  <section class="products">
       <!-- <h2>Products</h2> -->

       <div class="card" style="width: 18rem; ">
        <img class="card-img-top" src="https://goo.gl/nFDBku" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{x.book_name}}</h5>
          <p class="card-text"><b>Condition : </b>{{x.book_condition}}</p>
          <p class="card-text"><b>Price : </b>{{x.price}}</p>
          <p class="card-text"><b>Category : </b>{{x.category}}</p>
    
    
          <a href="/login" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

  </section>
  <div class="feature2">
       <h2>Feature2</h2>
  </div>
  <div class="feature3">
       <h2>Feature3</h2>
  </div>
  <div class="bonus1">
       <h2>Bonus1</h2>
  </div>
  <div class="bonus2">
       <h2>Bonus2</h2>
  </div>
  <div class="bonus3">
       <h2>Bonus3</h2>
  </div>
  <div class="bonus4">
       <h2>Bonus4</h2>
  </div>
</div>

<app-footer2></app-footer2> 



